@model PPSystem.Web.ViewModels.Account.OwnerViewModel
@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="megatron">
    <div class="row">
        <img src="@ViewBag.Photo" alt="@Model.FullName" class="col-md-3 img-responsive" />
        <div class="col-md-8">
            <h1>@Model.FullName</h1>
            
            @if (!String.IsNullOrEmpty(@Model.JobPosition) != null && !String.IsNullOrEmpty(@Model.JobCompany))
            {
                <h3>@Model.JobPosition at @Model.JobCompany</h3>
            }
            
            <p>@Model.Summary</p>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Top 5 Projects</h3>
            </div>
            <div class="panel-body">
                @{
                    for (int i = 0; i < 5; i++)
                    {
                        <div>Project @i</div>
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Top 5 Skills</h3>
            </div>
            <div class="panel-body">
                @{
                    for (int i = 0; i < 5; i++)
                    {
                        <div>Skill @i</div>    
                    }
                }
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">Contacts</h3>
            </div>
            <div class="panel-body">
                <div>Email: @Model.Email</div>
                <div>GitHub: @Model.GitHub</div>
                <div>LinkedIn: @Model.LinkedIn</div>
            </div>
        </div>
    </div>
</div>